/* PRIMERO: fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* SEGUNDO: Tailwind */
@import "tailwindcss";

/* Limpieza global */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Fonts */
.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}

.font-nsimsun {
  font-family: 'Noto Serif SC', serif;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}

/* iOS fix */
@media (max-width: 768px) {

  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}